{% extends 'main.twig' %}

{% block content %}
<div id="products" class="clearfix">

	<h4 class="products-title">Parks</h4>

	<div class="one-third column">
		<h5>This is a product</h5>
	</div>

	<div class="one-third column">
		<h5>This is another product</h5>
	</div>

	<div class="one-third column">
		<h5>This is yet another product</h5>
	</div>

</div>
{% endblock content%}
