<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>Be Our Guest | WDW Dining Adventure</title>
        <meta name="authors" content="composer.json">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="keywords" content="Disney, Dining, Adventure, Disney Dining">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/base.min.css">
        <link rel="stylesheet" href="/bower_components/skeleton/css/normalize.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Hind:400,300,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css">
        <!-- SCRIPTS -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    {% endblock head %}
    </head>
    <body>
    <div class="header">
        <div class="container">
            <a href="#" class="logo">Be Our Guest</a>
            <a class="navdrop"></a>

            <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li class="dropdown"><a href="#">Portfolio</a>
                    <ul>
                        <li><a href="#">Parks</a></li>
                        <li><a href="#">Resort</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Login</a></li>
            </ul>

        </div>
    </div>
    {% block content %}
    {% endblock content %}

    <footer id="footer" class="footer">
        <div class="innerFooter" id="innerFooter">
        </div>
    </footer>
    <script src="js/base.js"></script>
    <script src="/js/main.js"></script>
    </body>
</html>
